body {
  background-color: #ebebeb;
}

.heading {
  background-color: #333333;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.title {
  background-color: #333333;
  padding: 5px;
  color: white;
}

#runtime {
  background-color: #333333;
  color: #3e8fde;
  padding: 0px 0px 5px 5px;
}

.content {
  color: #3e8fde;
}

#subtitle {
  color: white;
  margin-left: 55px;
}

#showing {
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
}

#films li::before {
  content: "";
}
p, .p{
  font-size: 1rem;
  margin-top: 10rem;
}

.film {
  font-size: 16px;
  text-transform: uppercase;
}

.sold-out {
  text-decoration: line-through crimson;
  color: #170202;
  font-style: italic;
  
}

img {
  max-width: 25vw;
}

#film-info {
  padding-bottom: 15px;
}
li{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  /* border: rgb(97, 73, 73) solid; */
}

.soldOutUpdate{
  
  color: rgb(172, 7, 7);
  display: inline-block;
  border: 2px rgb(40, 36, 36) solid;
  border-radius: 7px;
  padding: 5px
}

/* using :disabled pseudo-class to style the disabled button. */


#bestSelling{
  border-color: antiquewhite;
  border-radius: 5px;
  border: #333333;
  box-shadow:  0 0 0 rgba(39,41,43,.15)inset;
  background-color: #e07b53;
  color: #090808;
  text-shadow: none;
  background-image: none;
  margin: 3px;
}

.currentFilmDisplayed{
  border: rgb(97, 73, 73) solid;
}
.active{
  background-color: #595252;
  color: rgb(241, 167, 167);
  display: inline-block;
  border: 2px rgb(40, 36, 36);
  border-radius: 7px;
  padding: 5px;
}

